name: Update channel pins

on:
  push:
    branches:
      - nixos-unstable
      # Any release branches like nixos-23.05
      - 'nixos-[0-9][0-9].[0-9][0-9]'

permissions:
  contents: write
  pull-requests: write

jobs:
  update_pin:
    name: Update channel pin
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v22
      - name: Compute development branch
        id: dev-branch
        run: |
          if [[ "$GITHUB_REF_NAME" == nixos-unstable ]]; then
            branch=master
          else
            branch=release${GITHUB_REF_NAME#nixos}
          fi
          echo "branch=$branch" >> "$GITHUB_OUTPUT"
      - name: Check out development branch
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.dev-branch.outputs.branch }}
      - name: Update pin
        id: update
        run: |
          file=prebuilt-commit.json

          previousRev=$(jq '.rev' "$file")
          currentRev=$GITHUB_SHA

          if [[ "$(git diff "$previousRev" "$currentRev" --name-only)" == 



          # If the previous commit already changed exactly only the file, then
          # This channel update was caused by a previous update of the pin, meaning there
          if [[ "$(git diff HEAD~ --name-only)" == "$file" ]]; then

          fi

          narHash=$(nix-prefetch-url "$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/tarball/$GITHUB_SHA" \
            --type sha256 --unpack)
          jq -n \
            --arg rev "$GITHUB_SHA" \
            --arg narHash "$hash" \
            '{ rev: $rev, narHash: $narHash }' > prebuilt-commit.json

          if [[ "$GITHUB_REF_NAME" != nixos-unstable ]]; then
            pr_title="[${GITHUB_REF_NAME#nixos-}] "
          fi
          pr_title+="Update pinned channel commit"
          echo "pr_title=$pr_title" >> "$GITHUB_OUTPUT"
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: "update-channel-pin/${{ steps.dev-branch.outputs.branch }}"
          commit-message: "Update pinned channel commit"
          title: ${{ steps.update.outputs.pr_title }}
          author: "GitHub <noreply@github.com>"
          body: |
            Automated PR to update the pin of the ${{ github.ref_name }} channel in the ${{ steps.dev_branch.outputs.branch }} branch to the latest commit ${{ github.sha }}.
          # body-path: 
          # labels: "foo,bar"

