name: Update channel pins

on:
  push:
    branches:
      - nixos-unstable
      # Any release branches like nixos-23.05
      - 'nixos-[0-9][0-9].[0-9][0-9]'

permissions:
  contents: write
  pull-requests: write

jobs:
  update_pin:
    name: Update channel pin
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v22
      - name: Compute development branch
        id: dev-branch
        run: |
          if [[ "$GITHUB_REF_NAME" == nixos-unstable ]]; then
            branch=master
          else
            branch=release${GITHUB_REF_NAME#nixos}
          fi
          echo "branch=$branch" >> "$GITHUB_OUTPUT"
      - name: Check out development branch
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.dev-branch.outputs.branch }}
      - name: Update pin
        id: update
        run: |
          newRev=$GITHUB_SHA
          pinFile=prebuilt-commit.json
          create_pr=1

          if oldRev=$(jq -r '.rev' "$pinFile"); then
            filesChanged=$(git diff "$oldRev" "$newRev" --name-only)

            # If the diff between the old pin and the new pin is only the pinned file itself,
            # it means that a previous update of a pin itself caused the channel update.
            # We don't want to cause another channel update just because of the pin.
            if [[ "$filesChanged" == "$pinFile" ]]; then
              create_pr=
            fi
          fi
          echo "create_pr=$create_pr" >> "$GITHUB_OUTPUT"

          if [[ -n "$create_pr" ]]; then
            narHash=$(nix-prefetch-url \
              "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/tarball/$newRev" \
              --type sha256 --unpack)

            jq -n > "$pinFile" \
              --arg rev "$newRev" \
              --arg narHash "$narHash" \
              '$ARGS.named'

            pr_title_prefix=""
            if [[ "$GITHUB_REF_NAME" != nixos-unstable ]]; then
              pr_title_prefix="[${GITHUB_REF_NAME#nixos-}] "
            fi
            echo "pr_title_prefix=$pr_title_prefix" >> "$GITHUB_OUTPUT"
          fi
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        if: ${{ steps.update.outputs.create_pr != "" }}
        with:
          branch: "update-channel-pin/${{ steps.dev-branch.outputs.branch }}"
          commit-message: "Update pinned channel commit"
          title: "${{ steps.update.outputs.pr_title_prefix }}Update pinned channel commit"
          author: "GitHub <noreply@github.com>"
          body: |
            Automated PR to update the pin of the ${{ github.ref_name }} channel in the ${{ steps.dev_branch.outputs.branch }} branch to the latest commit ${{ github.sha }}.

