name: Cancellation test

on: pull_request

jobs:
  cancel-test:
    name: cancel-test
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Update pin
        id: update
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/infinisil/github-test/actions/runs/$GITHUB_RUN_ID/cancel
          sleep 10
          echo successful
